<section class="page {{CLASS}}" data-name="{{NAME}}">
  <header class="meta g12">
    <div class="brand" data-role="display" lang="{{BLANG}}">{{BRAND}}</div>
    <div class="sec"><span class="arrow">{{ARROW}}</span><ol><li class="num">[ {{NUM}} ]</li>{{SUBS}}</ol></div>
    <div class="doc"><span>{{T_GUIDE}}</span><span>{{T_VERSION}}</span><span>{{DATE}}</span></div>
    <div class="no" data-role="display">{{PAGE_NO}}</div>
  </header>
  {{CONTENT}}
  <footer class="foot"><span>{{FOOT_LEFT}}</span><span>{{FOOT_MID}}</span><span>©{{YEAR}} {{BRAND}}</span></footer>
</section>
